html {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.card {
  margin: 200px, 400px;
  background-color: mistyrose;
}

input, textarea{
  margin: 20px;
}

h1{
  color: #282c34;
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
color:crimson;
text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pre_img{
  height: 600px;
  width: 600px;
  /* background-color: white; */
}

input[type=file]{
  background-color:darkgreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 40px 40px;
  /* display: none; */

}

#pre{
  background-color:darkgreen; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 10px 40px;
  border-radius: 50%;
}

.object{
  margin-bottom: 20px;
  font-size: 72px;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}
